<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>

<body>
    <div id="main">
        <div id="top">
            <img src="/logo.png" id="logo" />
            <div id="menu">
                <div class="oneOptionFromTopMenu">
                    <p><a href="/">O nas</a></p>
                </div>
                <div class="oneOptionFromTopMenu">
                    <p><a href="/furniture">Meble</a></p>
                </div>
                <div class="oneOptionFromTopMenu">
                    <p><a href="/services">Usługi</a></p>
                </div>
                <div class="oneOptionFromTopMenu">
                    <p><a href="/contact">Kontakt</a></p>
                </div>
            </div>
        </div>
        <div id="baner">
            <img src="/baner.png" />
        </div>
        <div id="content">
            {{{ body }}}
        </div>
        <div id="footer">
            <div class="partOfFooter">
                <p class="pFooter">Part 1</p>
                <p id="textPart1"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse volutpat massa
                    quis
                    vulputate
                    dapibus. Praesent ac venenatis erat, quis luctus tortor. Morbi feugiat imperdiet sem, in porttitor
                    magna posuere egestas. Aliquam sagittis bibendum magna, sed commodo augue rhoncus in. Sed fringilla
                    mi quis luctus posuere. Nulla tincidunt ac elit sed semper. Pellentesque ut efficitur quam. Proin
                    dignissim sem nec purus accumsan malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Suspendisse volutpat massa
                    quis
                    vulputate
                    dapibus. Praesent ac venenatis erat, quis luctus tortor. Morbi feugiat imperdiet sem, in porttitor
                    magna posuere egestas. </p>
            </div>
            <div class="partOfFooter">
                <p class="pFooter">Part 2</p>
                <ul id="listPart2/3">
                    <li>
                        Lorem Ipsum
                    </li>
                    <li>
                        Lorem Ipsum
                    </li>
                    <li>
                        Lorem Ipsum
                    </li>
                    <li>
                        Lorem Ipsum
                    </li>
                    <li>
                        Lorem Ipsum
                    </li>
                    <li>
                        Lorem Ipsum
                    </li>
                    <li>
                        Lorem Ipsum
                    </li>
                    <li>
                        Lorem Ipsum
                    </li>
                </ul>
            </div>
            <div class="partOfFooter">
                <p class="pFooter">Part 3</p>
                <ul id="listPart2/3">
                    <li>
                        Lorem Ipsum
                    </li>
                    <li>
                        Lorem Ipsum
                    </li>
                    <li>
                        Lorem Ipsum
                    </li>
                    <li>
                        Lorem Ipsum
                    </li>
                    <li>
                        Lorem Ipsum
                    </li>
                    <li>
                        Lorem Ipsum
                    </li>
                    <li>
                        Lorem Ipsum
                    </li>
                    <li>
                        Lorem Ipsum
                    </li>
                </ul>
            </div>
        </div>
        <div id="footer2">
            <img src="/grey.png">
            <img src="/grey.png">
            <img src="/grey.png">
            <img src="/grey.png">
        </div>
    </div>

</body>

</html>